#mainnav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
}
#mainnav a {
	color: #ffffff;
	background-color: #253484;
	text-align: center;
	display: block;
	float: left;
	width: 20%;
	padding-top: 6px;
	padding-bottom: 6px;
	text-decoration: none;
	font-weight: bold;
}
#mainnav a:hover, #mainnav a:active, #mainnav a:focus, #mainnav a.thispage {
	background-color: #4CBADA;
	text-decoration: none;
}
.centered {
	text-align: center;
}
